@model IEnumerable<MobileCan.Models.Category>

<div class="list-group">
    @foreach (var category in Model)
    {
        @Html.ActionLink(linkText: category.Name, actionName: "Index", controllerName: "Home", routeValues: new { category = category.Id }, htmlAttributes: new { @class = "list-group-item" })
    }
</div>
