<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <rewrite xdt:Transform="Replace">
      <rules>
        <rule name="Rewrite to admin" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(?!www)(.*)\.mobilecan\.online" />
          </conditions>
          <action type="Rewrite" url="/Admin" />
        </rule>

        <rule name="Rewrite admin to subdomain" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="^/Admin(.*)" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="http://admin.mobilecan.online" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>